#index-main-container{
  background-color: darkseagreen;
  margin: 5px;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

#index-title-container{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0px;

}

.group-listing-container{
  display: flex;
  flex-direction: column;
}

.group-listing-banner{
  display: flex;
  flex-direction: row;
}

.group-boards-listing-hidden{
  display: none;
}

.main-header {
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
  color: rgb(19, 138, 138);
  font-weight: 900;
}

