.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.session-link-container {
  display: flex;
  align-items: center;
}

.signup-login {
  font-family: 'Heebo', sans-serif;
  display: flex;
}

.login {
  text-decoration: none;
  padding: 5px 15px;
  color: rgb(29, 202, 202);
  background-color: white;
}

.signup {
  position: relative;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(29, 202, 202);
  margin-right: 40px;
}

.logout-button {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(29, 202, 202);
  margin-right: 30px;
}