#glc-outer{
  display: flex;
  flex-direction: row;
}

.gi-board-button-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gi-board-create-button{    
  padding: 0px;
  border-radius: 50%;
  align-self: center;
}

.create-board-plusicon{
  max-width: 40px;
  border-radius: 50%;
}
