#glc-outer{
  display: flex;
  flex-direction: row;
}

.gi-board-button-container{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.gi-board-create-button{  
  margin-top: 65px;
  padding: 0px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.create-board-plusicon{
  max-width: 40px;
}
