#glc-outer{
  display: flex;
  flex-direction: row;
}

.gi-board-button-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gi-board-create-button{  
  margin-top: 65px;
  padding: 0px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.create-board-plusicon{
  max-width: 40px;
  border-radius: 50%;
}
