


#group-index-main{
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#index-left-sidebar-container{
  background-color: cadetblue;
  margin: 5px;
  min-width: 25%;
}

#ils-panel{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 15px 30px 15px;
  align-items: center;
}

.ils-panel-item{
  background-color: gray;
  margin: 5px 10px 0px 10px;
  padding: 4px;
}

#ils-join-create-container{
  display: flex;
  flex-direction: row;
}

.gl-image{
  padding: 4px;
  border: 2px solid black;
  

}

.ils-jc-button{
  background-color: purple;
}

.ils-jc-button:hover{
  cursor: pointer;
}

.ils-jc-selected{
  color: red;
}
.ils-jc-selected > .ils-jc-button{
  background-color: darkslateblue
}

.ils-jc-unselected{
  color:yellow;
}