#index-main-container{
  background-color: darkseagreen;
  margin: 5px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#index-title-container{

  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0px;
}

#index-mygroups-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.group-listing-container{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0px 45px 30px;
  border-radius: 25% 10%;
}

.group-listing-banner{
  display: flex;
  flex-direction: row;
  
}

.gl-info-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.gl-button-container{
  align-self: center;
  padding: 8px;
  
}

.gl-button-item{
  padding: 8px;
}

.group-boards-listing-hidden{
  display: none;
}

.group-boards-listing-shown{
  border: 2px solid black;
  padding: 15px;
  background-color: lightskyblue;
}

.group-board-container{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}

.board-list-element{
  padding: 5px;
  border: 1px solid black;
  margin-right: 10px;
}

