#index-main-container{
  background-color: darkseagreen;
  margin: 5px;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

#index-title-container{
  background-color: goldenrod;
}


.group-listing-container{
  display: flex;
  flex-direction: column;
}

.group-listing-banner{
  display: flex;
  flex-direction: row;
}

.gl-info-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.gl-button-container{
  align-self: center;
}

.group-boards-listing-hidden{
  display: none;
}

