#index-main-container{
  /* background-color: darkseagreen; */
  /* background-image: url(public/background1.jpg); */
  width: 100vw;
  display: flex;
  flex-direction: column;

}

#index-title-container{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px;
  height: 360px;
  font-size: 50px;
  color: white;
  font-family: 'Pacifico', cursive;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  border: 1px solid rgb(228, 227, 227);
}

.storm-span-text {
  position: absolute;
  top: -20px;
  width: 100%;
  font-size: 20px;
  background-color: white;
  opacity: 0.67;
  text-indent: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Heebo', sans-serif;

}

#index-mygroups-container{
  position: relative;
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
}

@keyframes mytest{
  0%{
    background-color: red;
  }
  50%{
    background-color: orange;
  }
  100%{
    background-color: white;
  }
}


.group-listing-container{
  display: flex;
  flex-direction: column;
  
  margin: 0px 0px 30px 45px;
  background-color: transparent;
}

.group-listing-banner{
  border: 2px solid black;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.gl-info-container{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.gl-button-container{
  align-self: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  
}

.gl-button-item{
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 15%;
  border: 5px double yellow;
}

.gl-button-item:hover{
  cursor: pointer;
  border: 5px double blue;
}

.group-boards-listing-hidden{
  display: none;
}

.group-boards-listing-shown{
  border: 2px solid black;
  padding: 15px;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;  
  background-color: lightskyblue;
}

.group-board-container{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}

.board-list-element{
  padding: 5px;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 25%;
}

.group-create-board-hidden{
  display: none;
}

/* .group-create-board-shown{

} */
